@page "/"
@inject HttpClient Http

<PageTitle>Blazing Trails Gallery</PageTitle>

@if (trails == null) {
    <p>Loading trails...</p>
}
else {
    <TrailDetails Trail="selectedTrail"/>
    <div class="grid">
        @foreach (var trail in trails) {
            <TrailCard Trail="trail" OnSelected="HandleTrailSelected"/>
        }
    </div>
}

@code {
    IEnumerable<Trail>? trails;
    Trail? selectedTrail;

    protected override async Task OnInitializedAsync() {
        trails = await Http.GetFromJsonAsync<IEnumerable<Trail>>("trails/trail-data.json");
    }

    void HandleTrailSelected(Trail trail) {
        selectedTrail = trail;
    }

}